slurm_logs/
slurm_logs
private_datasets/
saves/
saves
wandb/
wandb
save/
save
eval_save
eval_save/
analysis_save
analysis_save/
slurm*
*.sif
*.ext3
*.out

data/
data
dicts/
dicts
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.egg-info
*.png
*.pkl
*.pdf
*.npy
*.csv
*.txt
.tmp/
*.fasta
fasta/
*.csv
kernel*/
cancel*.sh
.vscode/
*.pdb
*.bib
*.json
*seg.p
.flake8
tests/
scripts/
examples/

# tensor dumps
*.pt
# Compiler Output #
###################
*.py[cod]
*.so
*.o
*.exe
*.class

# Folders #
###########
bin/
build/
dist/
local/
tmp/
__pycache__/
*.egg-info/
.idea/
.ipynb_checkpoints/
.vscode/
esm/dev

# Junk #
########
.DS_Store*
.*.swp
*.swp
*.log
*~

metrics_*
*.fasta
*.tar
*.gz
*.pjs

outputs/
graph_cache/
